.container{
    padding: 1rem;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 3rem;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
