<form [formGroup]="form">
<div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" formControlName="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password"  formControlName="password" required>

    <button [disabled]="!form.valid" type="submit" (click)="Login()">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>
</form>
<code>{{form.value|json}}</code>